@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Roboto+Mono:wght@300;400&display=swap');

:root{
    --primary-color: #427AA1;
    --primary-gradient: linear-gradient(to left)
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #fefffb;
    z-index: -5;
    position: relative;
}

main{
    overflow: hidden;
    position: relative;
    z-index: -5;
}

h1,h2,h3,h4,h5{
    font-family: "Roboto Mono",Arial, Helvetica, sans-serif;
}

p, a{
    font-family: "Poppins",Arial, Helvetica, sans-serif;
}

header{
    width: 100vw;
    height: 50vh;
    position: relative;
    z-index: -20;
}

img, header div{
    width: 100%;
    height: 100%;
}

.user-img img{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -5;
}

.ham{
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.tick{
    width: 2rem;
    height: 2rem;
    position: absolute;
    bottom: -1rem;
    left: 1.8rem;
    background-color: #fff;
    border-radius: 50%;
    z-index: 50;
}

.name{
    transform: rotate(90deg);
    position: absolute;
    bottom: -19rem;
    left: -13.4rem;
    font-size: 1.2rem;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.name span{
    display: inline-block;
    width: 17rem;
    height: 0rem;
    border: 1px solid var(--primary-color);
    text-align: center;
    
}


a.profile{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 1rem 2rem;
    padding-right: 5rem;
    background-color: var(--primary-color);
    position: absolute;
    bottom: -1.5rem;
    right: 0rem;
    z-index: 600;
}


.follow{
    display: flex;
    width: 30vw;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: -5rem;
    right: 1.5rem;
}

.followers{
    display: inline-block;
    margin-right: 1rem;
    margin-left: -2rem;
}

.follow h3, p{
    opacity: 0.8;
}

.about, .repos{
    margin: 8rem 1rem 2rem 5.3rem;
    position: relative;
    z-index: -4;
}

.about h2, .repos h2{
    margin-bottom: 0.5rem;
    opacity: 0.9;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1.1rem;
}

.about p{
    font-size: 15px;
    margin-bottom: 1rem;
}

.sub-info{
    display: flex;
    justify-content: space-between;
}

.sub-info img{
    width: 1.3rem;
    height: 1.3rem;
}

.sub-info p{
    display: flex;
}
.sub-info span{
    padding-left: 0.1rem;
}

.repos{
    margin-top: 2.5rem;
    margin-bottom: 3rem;
}
.repos h3{
    font-weight: 500;
    font-size: 1rem;
}

.cards {
    text-align: center;
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.repo{
    display: inline-block;
    background-color: var(--primary-color);
    color: #fefffb;
    padding: 1.5rem 1rem;
    box-shadow: 2px 2px 9px #0f1d27;
    margin-bottom: 1.4rem;
    border-radius: 5px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.repo a{
    color: var(--primary-color);
    padding: 0.5rem;
    background-color: #fefffb;
    margin-top: 1rem;
    display: inline-block;
    text-decoration: none;
    box-shadow: 1px 2px 5px #55a6e09c inset;
    
}

footer{
    background-color: var(--primary-color);
    padding: 1rem;
    text-align: center;
    color: #fefffb;
    box-shadow: 2px 2px 5px #475f70 inset;
}